* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #dfe3ee;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #3b5998;
	position: sticky;
}
li{
	float: right;
	flex-direction: column-reverse;
	border-right: 3px;
	max-height: 52px;
}

li a{
	display: block;
	color: whitesmoke;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
	border-right: 3px;
}
li a:hover{
	animation-name: example;
	animation-duration: .7s;
	animation-fill-mode: forwards;
}
@keyframes example{
	from {background-color: #3b5998;}
	to {background-color: #8b9dc3;}
}
.icon {
	vertical-align: bottom;
}
#icone {
	float: left;
}
.nav {
	overflow: hidden;
}
.dropdown {
	overflow: hidden;
}
.dropdown-content li{
	float: none;
 	color: black;
 	padding: 12px 16px;
	text-decoration: none;
	display: block;
  	text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}